<!-- Navbar -->
<nav class="navbar">
    <div class="logo">Nilaj IT</div>

    <ul class="nav-links">
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/about">About Us</a></li>
        <li><a routerLink="/course">Courses</a></li>
        <li><a routerLink="/contact">Contact</a></li>
        <li><a routerLink="/login">Login</a></li>
        <li><a routerLink="/register">Register</a></li>
        <li><a routerLink="/portfolio">Portfolio</a></li>
    </ul>

    <!-- Mobile Menu Icon -->
    <div class="menu-icon" >
        ☰
    </div>
</nav>

<!-- Hero Section -->
<section class="hero">
    <div class="hero-content">
        <h1>Welcome to Our Academy</h1>
        <p>Learn modern technology skills and build your future with expert guidance.</p>
        <div class="hero-image">
            <img src="assets/img/robo.jpg" alt="Academy Image">
        </div>
        <button routerLink="/register" class="btn-primary">Get Started</button>
    </div>
</section>

<!-- Portfolio Section -->
<section id="portfolio" class="portfolio">
    <h2>Our Portfolio</h2>

    <div class="portfolio-grid">
        <div class="card">Web Development</div>
        <div class="card">UI / UX Design</div>
        <div class="card">App Development</div>
        <div class="card">Cloud Computing</div>
    </div>
</section>