<!-- Navbar -->
<nav class="navbar">
    <div class="logo">Nilaj IT</div>

    <ul class="nav-links">
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/about">About Us</a></li>
        <li><a routerLink="/course">Courses</a></li>
        <li><a routerLink="/contact">Contact</a></li>
        <li><a routerLink="/login">Login</a></li>
        <li><a routerLink="/register">Register</a></li>
        <li><a routerLink="/portfolio">Portfolio</a></li>
    </ul>

    <!-- Mobile Menu Icon -->
    <div class="menu-icon" onclick="toggleMenu()">
        ☰
    </div>
</nav>

<!-- Hero Section -->
<section class="hero">
    <div class="hero-content">
        <h1>About Us</h1>

        <p>Where technology meets learning — helping you grow, create, and succeed in the digital world.</p>

        <div class="hero-image">
            <h2>Innovating education through modern technology and practical learning.</h2>

            <h5>
                At Nilaj IT Academy, we are committed to transforming education through modern technology and practical,
                industry-driven learning. Our mission is to empower students, beginners, and professionals with the
                skills they need to succeed in today’s fast-evolving digital world. From web development and UI/UX
                design to app development and cloud computing, we focus on real-world training that prepares learners
                for competitive careers. Guided by experienced mentors, hands-on projects, and up-to-date curriculum, we
                help individuals unlock their potential, build confidence, and become future-ready innovators. At Nilaj
                IT, learning is not just about acquiring knowledge — it’s about creating opportunities and shaping a
                successful future.
            </h5>
        </div>

        <button routerLink="/register" class="btn-primary">Get Started</button>


    </div>
</section>


<!-- Portfolio Section -->
<section id="portfolio" class="portfolio">
    <h2>Our Portfolio</h2>

    <div class="portfolio-grid">
        <div class="card">Web Development</div>
        <div class="card">UI / UX Design</div>
        <div class="card">App Development</div>
        <div class="card">Cloud Computing</div>
    </div>
</section>