<!-- Navbar -->
<nav class="navbar">
    <div class="logo">Nilaj IT</div>

    <ul class="nav-links">
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/about">About Us</a></li>
        <li><a routerLink="/course">Courses</a></li>
        <li><a routerLink="/contact">Contact</a></li>
        <li><a routerLink="/login">Login</a></li>
        <li><a routerLink="/register">Register</a></li>
        <li><a routerLink="/portfolio">Portfolio</a></li>
    </ul>

    <!-- Mobile Menu Icon -->
    <div class="menu-icon" >
        ☰
    </div>
</nav>

<!-- Hero Section -->
<section class="hero">
    <div class="hero-content">
        <h1>Welcome to Our Academy</h1>
        <p>Learn modern technology skills and build your future with expert guidance.</p>


         <form [formGroup]="detailForm" autocomplete="off" class="register-box">

             <div class="grid p-fluid">
             
                <h2 class="title">Register</h2>

                   <!-- Name -->
                    <div class="md:col-4 col-12">
                        <mat-form-field appearance="outline" floatLabel="always">
                            <mat-label>Name</mat-label>
                            <input matInput formControlName="name" maxlength="50" placeholder="Enter Name" required />
                            <mat-icon matPrefix>person</mat-icon>
                              <mat-error *ngIf="detailForm.get('name')?.hasError('required')">
                        Name is required
                    </mat-error>
                        </mat-form-field>
                    </div>
                    


                                <!-- Bank readonly textbox -->
            <div class="md:col-4 col-12">
                <mat-form-field appearance="outline" floatLabel="always">
                    <mat-label>Bank</mat-label>

                    <input matInput formControlName="otherBank" readonly />

                    <mat-icon matPrefix>account_balance</mat-icon>
                </mat-form-field>
            </div>





              <!-- Interest Type -->
            <div class="md:col-4 col-12">

                <mat-form-field appearance="outline" floatLabel="always">
                    <mat-label>Interest Type</mat-label>

                    <input matInput type="number" formControlName="interestRate" placeholder="Enter Interest" min="1"
                        max="99" required />

                    <mat-icon matPrefix>percent</mat-icon>


                    <mat-error *ngIf="detailForm.get('interestRate')?.hasError('required')">
                        Interest is required
                    </mat-error>

                    <mat-error *ngIf="detailForm.get('interestRate')?.hasError('min')">
                        Interest must be at least 2 digit
                    </mat-error>

                    <mat-error *ngIf="detailForm.get('interestRate')?.hasError('max')">
                        Interest must be 2 digit
                    </mat-error>
                </mat-form-field>




            </div>


               <!-- Sanction Amount -->
            <div class="md:col-4 col-12">

                <mat-form-field appearance="outline" floatLabel="always">
                    <mat-label>Sanction Amount</mat-label>

                    <input matInput type="number" formControlName="sanction" placeholder="Sanction Amount" 
                    (blur)="calculatepremium()"
                         required />

                           <mat-error *ngIf="detailForm.get('sanction')?.hasError('required')">
                      Sanction is required
                    </mat-error>

                    <mat-icon matPrefix>Account</mat-icon>



                  
                </mat-form-field>


            </div>


             <!-- Premium Amount -->
            <div class="md:col-4 col-12">

                <mat-form-field appearance="outline" floatLabel="always">
                    <mat-label>Premium</mat-label>

                    <input matInput type="number" formControlName="premium" placeholder="Premium Amont" 
                         readonly />

                    <mat-icon matPrefix>Account</mat-icon>



                  
                </mat-form-field>


            </div>


               <!-- Image -->
            <div class="md:col-4 col-12">

                <mat-form-field appearance="outline" floatLabel="always">
                    <mat-label>Image</mat-label>

                    <input matInput formControlName="imagefield" placeholder="Select Image" required />
                   
                    <!-- To this (Property Binding) -->
<fa-icon [icon]="faFileLines"></fa-icon>

                    <button type="button" mat-button matSuffix class="suffix-button" color="primary"
                        (click)="sWITCH.click()">

                        <input #sWITCH type="file" accept=".jpeg,.jpg,.png " (change)="onSelectedFile($event)"
                            style="display:none;">


                        <mat-icon>file_upload</mat-icon>
                    </button>

                    <mat-error *ngIf="detailForm.get('imagefield')">
                        Image Field is required
                    </mat-error>




                </mat-form-field>
            </div>



       



          

             </div>
           


         </form>
        
           

<!--
  
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Email</mat-label>
    <mat-icon matPrefix>email</mat-icon>
    <input matInput type="email" [(ngModel)]="email" name="email" required>
  </mat-form-field>

  
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Mobile</mat-label>
    <mat-icon matPrefix>phone</mat-icon>
    <input matInput [(ngModel)]="mobile" name="mobile" required>
  </mat-form-field>

  
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Password</mat-label>
    <mat-icon matPrefix>lock</mat-icon>
    <input matInput type="password" [(ngModel)]="password" name="password" required>
  </mat-form-field>

  
  <button mat-raised-button color="primary" class="full-width">Register</button>

  <div class="link">
    <p>Already have an account?
      <a routerLink="/login">Login</a>
    </p>
  </div>

        </form>
        <button routerLink="/register" class="btn-primary">Get Started</button>
    </div>
</section>


<section id="portfolio" class="portfolio">
    <h2>Our Portfolio</h2>

    <div class="portfolio-grid">
        <div class="card">Web Development</div>
        <div class="card">UI / UX Design</div>
        <div class="card">App Development</div>
        <div class="card">Cloud Computing</div>
    </div>
</section>

-->