<!-- Navbar -->
<nav class="navbar">
    <div class="logo">Nilaj IT</div>

    <ul class="nav-links">
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/about">About Us</a></li>
        <li><a routerLink="/course">Courses</a></li>
        <li><a routerLink="/contact">Contact</a></li>
        <li><a routerLink="/login">Login</a></li>
        <li><a routerLink="/register">Register</a></li>
        <li><a routerLink="/portfolio">Portfolio</a></li>
    </ul>

    <!-- Mobile Menu Icon -->
    <div class="menu-icon">
        ☰
    </div>
</nav>

<!-- Hero Section -->
<section class="hero">
    <div class="hero-content">
        <h1>Welcome to Our Academy</h1>
        <p>Learn modern technology skills and build your future with expert guidance.</p>


        <form [formGroup]="detailForm" autocomplete="off" class="register-box">

            <div class="grid p-fluid">



                <!-- Name -->
                <div class="md:col-3 col-12">
                    <mat-form-field appearance="outline" floatLabel="always">
                        <mat-label>Name</mat-label>
                        <input matInput formControlName="name" maxlength="50" placeholder="Enter Name" required />
                        <mat-icon matPrefix>person</mat-icon>
                        <mat-error *ngIf="detailForm.get('name')?.hasError('required')">
                            Name is required
                        </mat-error>
                    </mat-form-field>
                </div>



                <!-- Bank readonly textbox -->
                <div class="md:col-3 col-12">
                    <mat-form-field appearance="outline" floatLabel="always">
                        <mat-label>Bank</mat-label>

                        <input matInput formControlName="otherBank" readonly />

                        <mat-icon matPrefix>account_balance</mat-icon>
                    </mat-form-field>
                </div>





                <!-- Interest Type -->
                <div class="md:col-3 col-12">

                    <mat-form-field appearance="outline" floatLabel="always">
                        <mat-label>Interest Type</mat-label>

                        <input matInput type="number" formControlName="interestRate" placeholder="Enter Interest"
                            min="1" max="99" required />

                        <mat-icon matPrefix>percent</mat-icon>


                        <mat-error *ngIf="detailForm.get('interestRate')?.hasError('required')">
                            Interest is required
                        </mat-error>

                        <mat-error *ngIf="detailForm.get('interestRate')?.hasError('min')">
                            Interest must be at least 2 digit
                        </mat-error>

                        <mat-error *ngIf="detailForm.get('interestRate')?.hasError('max')">
                            Interest must be 2 digit
                        </mat-error>
                    </mat-form-field>




                </div>


                <!-- Sanction Amount -->
                <div class="md:col-3 col-12">

                    <mat-form-field appearance="outline" floatLabel="always">
                        <mat-label>Sanction Amount</mat-label>

                        <input matInput type="number" formControlName="sanction" placeholder="Sanction Amount"
                            (blur)="calculatepremium()" required />

                        <mat-error *ngIf="detailForm.get('sanction')?.hasError('required')">
                            Sanction is required
                        </mat-error>

                        <mat-icon matPrefix>tag</mat-icon>




                    </mat-form-field>


                </div>


                <!-- Premium Amount -->
                <div class="md:col-3 col-12">

                    <mat-form-field appearance="outline" floatLabel="always">
                        <mat-label>Premium</mat-label>

                        <input matInput type="number" formControlName="premium" placeholder="Premium Amount" readonly />

                        <mat-icon matPrefix>numbers</mat-icon>




                    </mat-form-field>


                </div>


                <!-- Image -->
                <div class="md:col-3 col-12">

                    <mat-form-field appearance="outline" floatLabel="always">
                        <mat-label>Image</mat-label>

                        <input matInput formControlName="imagefield" placeholder="Select Image" required />

                        <!-- To this (Property Binding) -->
                        <fa-icon [icon]="faFileLines"></fa-icon>

                        <button type="button" mat-button matSuffix class="suffix-button" color="primary"
                            (click)="sWITCH.click()">

                            <input #sWITCH type="file" accept=".jpeg,.jpg,.png " (change)="onSelectedFile($event)"
                                style="display:none;">


                            <mat-icon>file_upload</mat-icon>
                        </button>

                        <mat-error *ngIf="detailForm.get('imagefield')">
                            Image Field is required
                        </mat-error>




                    </mat-form-field>
                </div>






                <!-- Sanction Date -->
                <div class="md:col-3 col-12">
                    <mat-form-field appearance="outline" floatLabel="always">
                        <mat-label>Sanction Date</mat-label>
                        <input matInput [matDatepicker]="fromPicker" formControlName="sanctionDate" required
                            [max]="detailForm.get('closeDate')?.value " placeholder="Select Sanction Date " readonly
                            (keydown)="disableTyping($event)" (paste)="disableTypingPaste($event)">
                        <mat-datepicker-toggle matSuffix [for]="fromPicker"></mat-datepicker-toggle>
                        <mat-datepicker #fromPicker></mat-datepicker>

                        <mat-error *ngIf="detailForm.get('sanctionDate')?.hasError('required')">
                            Sanction Date is required
                        </mat-error>
                    </mat-form-field>
                </div>



                <!-- Close Date -->


                <div class="md:col-3 col-12">
                    <mat-form-field appearance="outline" floatLabel="always">
                        <mat-label>Close Date</mat-label>
                        <input matInput [matDatepicker]="toPicker" formControlName="closeDate"
                            [min]="detailForm.get('sanctionDate')?.value" placeholder="Select Close Date" readonly
                            (keydown)="disableTyping($event)" (paste)="disableTypingPaste($event)">
                        <mat-datepicker-toggle matSuffix [for]="toPicker"></mat-datepicker-toggle>
                        <mat-datepicker #toPicker></mat-datepicker>

                    </mat-form-field>
                </div>







                <!-- Aadhar card -->
                <div class="md:col-3 col-12">

                    <mat-form-field appearance="outline" floatLabel="always">
                        <mat-label>Aadhar card</mat-label>

                        <input matInput type="text" inputmode="numeric" formControlName="aadharcard"
                            placeholder="Enter Interest" minlength="12" maxlength="12" required pattern="\d{12}" />

                        <mat-icon matPrefix>assignment_ind</mat-icon>


                        <mat-error *ngIf="detailForm.get('aadharcard')?.hasError('required')">
                            Aadhar is required
                        </mat-error>



                        <mat-error *ngIf="detailForm.get('aadharcard')?.hasError('pattern')">
                            Aadhar is 12 Digits Only Number
                        </mat-error>


                    </mat-form-field>




                </div>


                <!-- Mobile Number -->
                <div class="md:col-3 col-12">

                    <mat-form-field appearance="outline" floatLabel="always">
                        <mat-label>Mobile Number</mat-label>

                        <input matInput type="text" oninput="this.value=this.value.replace(/[^0-9]/g,'')"
                            inputmode="numeric" formControlName="mobileNo" placeholder="Enter Mobile Number"
                            minlength="10" maxlength="10" pattern="[6-9][0-9]{9}" required />

                        <mat-icon matPrefix>phone</mat-icon>


                        <mat-error *ngIf="detailForm.get('mobileNo')?.hasError('required')">
                            Mobile is required
                        </mat-error>



                        <mat-error *ngIf="detailForm.get('mobileNo')?.hasError('pattern')">
                            Mobile number must be 10 digits and start with 6–9
                        </mat-error>



                    </mat-form-field>




                </div>


                <!-- Dob -->
                <div class="md:col-3 col-12">
                    <mat-form-field appearance="outline" floatLabel="always">
                        <mat-label>DOB</mat-label>
                        <input matInput [matDatepicker]="dobPicker" formControlName="dobDate"
                            placeholder="Select DOB Date" [max]="maxDobDate" [min]="minDobDate"
                            (dateChange)="calculateAge()" readonly (keydown)="disableTyping($event)"
                            (paste)="disableTypingPaste($event)">
                        <mat-datepicker-toggle matSuffix [for]="dobPicker"></mat-datepicker-toggle>
                        <mat-datepicker #dobPicker></mat-datepicker>

                        <!-- Required -->
                        <mat-error *ngIf="detailForm.get('dobDate')?.hasError('required')">
                            Date of Birth is required
                        </mat-error>

                    </mat-form-field>
                </div>




                <!-- Calculated Age -->

                <div class="md:col-3 col-12">

                    <mat-form-field appearance="outline" floatLabel="always">
                        <mat-label>Age</mat-label>

                        <input matInput type="number" formControlName="age" placeholder="Age" readonly />

                        <mat-icon matPrefix>calculate</mat-icon>




                    </mat-form-field>


                </div>

                <!-- Loan Type DropDown -->
                <div class="md:col-4 col-12">
                    <mat-form-field appearance="outline" floatLabel="always">
                        <mat-label>Loan Type</mat-label>
                        <mat-select formControlName="loanType" placeholder="Select Loan" required>
                            <mat-option value="">--Select Loan--</mat-option>
                            <mat-option *ngFor="let type of loanTypeList" [value]="type.loanType">
                                {{ type.loanType }}
                            </mat-option>
                        </mat-select>
                        <mat-icon matPrefix>credit_card</mat-icon>
                        <mat-error *ngIf="detailForm.get('loanType')?.hasError('required')">
                            Loan is required
                        </mat-error>
                    </mat-form-field>
                </div>


                <div class="md:col-4 col-12">
                    <mat-form-field appearance="outline" floatLabel="always" class="w-full">

                        <mat-label>Address</mat-label>

                        <textarea matInput formControlName="address" placeholder="Enter Address" maxlength="200"
                            required>
                           </textarea>

                        <mat-icon matPrefix>home</mat-icon>

                        <!-- Character counter -->

                     


                        <mat-error *ngIf="detailForm.get('address')?.hasError('required')">
                            Address is required
                        </mat-error>

                     

                    </mat-form-field>
                </div>
                   

                <!-- Pan -->
                  <div class="md:col-3 col-12">
                    <mat-form-field appearance="outline" floatLabel="always">
                        <mat-label>Pan Number</mat-label>
                        <input matInput formControlName="pan" maxlength="10" placeholder="Enter Pan" required />
                        <mat-icon matPrefix>credit_card</mat-icon>
                        <mat-error *ngIf="detailForm.get('pan')?.hasError('required')">
                            Pan Number is required
                        </mat-error>

                         <mat-error *ngIf="detailForm.get('pan')?.hasError('pattern')">
                            Enter valid PAN (ABCDE1234F)
                        </mat-error>
                    </mat-form-field>
                </div>

            </div>



        </form>